<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Subscribers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:replace="Subscriber/fragments/headLink">
<Style>
h1 {
	margin: auto;
	width: 50%;
}
body {
	background-color: grey;
}
</Style>
</head>
<body>
	<nav th:replace="Subscriber/fragments/navigation"></nav>
	<div class="container-fluid">

		<h1>These our our subscribers:</h1>
		<div th:each="subscriber: ${listOfAllSubscribers}">
			<div class="row">
				<div class="col-md-8 offset-2">

					<div class="card">
						<div class="card-body">
							<p th:text="${subscriber.getFirstName}" />
							<p th:text="${subscriber.getLastName}" />
							<a href="#"><button type="button" class="btn btn-primary">Subscriber
									Detail</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script th:replace="Subscriber/fragments/scripts"></script>
</body>
</html>